:root {
  --night: #1a1b26;
  --white: rgb(229, 240, 244);
  --red: #ff757f;
  --green: #9ece6a;
  --gold: #efb662;
  --lightBlue: #7dcfff;
  --blue: #7aa2f7;
  --light-gold: #52bdef;
  --dark-gray: #333;
  --light-gray: #f4f4f4;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --transition-duration: 0.2s;
  --transition-easing: ease-in-out;
}

body {
  background-color: var(--night);
  color: var(--white);
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  font-family: Geologica;
  font-size: 1.2rem;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:visited {
  color: var(--white);
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

button {
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.5rem;
  border: none;
  margin: 10px;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 20px;
  transition: all 0.3s ease; /* Sanfte Übergangszeit und -funktion */
}

button:hover {
  background-color: var(--gold);
}

#editText {
  display: none;
  position: absolute;
  background-color: var(--white);
  border-radius: 15px;
}
#editText button {
  background-color: var(--light-gold);
  font-size: 1rem;
  margin: 5px;
  padding: 7px 13px;
  border-radius: 10px;
  transition: all 0.3s ease; /* Sanfte Übergangszeit und -funktion */
}

#editText button:hover {
  background-color: var(--gold);
}

#cardWrapper {
  background-color: var(--night);
  color: var(--white);
  font-family: Geologica;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
}

.lernset {
  background-color: var(--blue);
  margin: 25px;
  padding: 15px 25px;
  border-radius: 25px;
  cursor: pointer;
}
#lernSet {
  background-color: var(--blue);
}
#lernSetWrapper {
  background-color: var(--night);
  color: var(--white);
  font-family: Geologica;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 80vw;
}

.card {
  width: 90%;
  max-width: 750px;
  margin-bottom: 25px;
}
#card {
  background-color: var(--blue);
  font-family: Geologica;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 200px;
  padding: 15px 25px;
  border-radius: 30px;
  cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="url"],
textarea,
select {
  font-family: Geologica;
  font-size: 1.2rem;
  padding: 15px 25px;
  border-radius: 15px;
  border: 2px solid var(--gold);
  background-color: var(--light-gray);
  color: var(--dark-gray);
  box-shadow: var(--shadow);
  transition: border-color var(--transition-duration) var(--transition-easing),
    box-shadow var(--transition-duration) var(--transition-easing);
  width: 100%; /* Macht die Eingabefelder standardmäßig über die volle Breite ihres Containers */
  box-sizing: border-box; /* Verhindert, dass Padding und Border die Breite beeinflussen */
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #999;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}

input:focus,
textarea:focus,
select:focus {
  outline: none; /* Entfernt den Standard-Fokus-Umriss */
  border: solid 4px;
  border-color: var(--light-gold); /* Hellere Goldfarbe im Fokus */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Intensiverer Schatten im Fokus */
}

input:hover,
textarea:hover,
select:hover {
  border: solid 2px;
  border-color: var(--light-gold); /* Sanfte Farbänderung beim Hover */
}

/* Spezifische Stile für Buttons (optional, falls du Input-Felder als Buttons verwendest) */
input[type="submit"],
input[type="reset"],
button {
  font-size: 1.2rem;
  padding: 15px 25px;
  border-radius: 15px;
  border: 2px solid var(--gold);
  background-color: var(--gold);
  color: white;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: background-color var(--transition-duration)
      var(--transition-easing),
    box-shadow var(--transition-duration) var(--transition-easing);
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: var(--light-gold);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  transform: translateY(1px); /* Leichter "Eindrück"-Effekt beim Klicken */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

/* Zusätzliche Stile für Select-Felder */
select {
  appearance: none; /* Entfernt die Standard-Dropdown-Pfeile */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 1em;
  padding-right: 40px; /* Platz für den Pfeil */
}

select::-ms-expand {
  /* Für Internet Explorer */
  display: none;
}

/* Stile für Textareas */
textarea {
  resize: vertical; /* Erlaubt vertikale Größenänderung */
  min-height: 100px;
}
